.StartBtn {
    margin: 3rem auto;
}

.StartBtn:hover {
    background-color: chartreuse;
    color: black;
    border-color: black;
}

.SearchCard {
    background-color: aliceblue;
    border: 2px solid black;
    width: max-content;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    /* gap: 1rem; */
    margin: 0 auto;
    border-radius: 10%;

    > div:first-child {
        margin-right: 2rem;
    }
}

.SearchPreview {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SearchConfirm {
    grid-column: 1 / end;

    > button:first-of-type {
        background-color: green;
    }
    > button:last-of-type {
        background-color: red;
    }
}

.CardInfo {
    min-width: 15rem;
    max-width: 20rem;

    > p {
        text-align: start;
    }
}

/* Maybe move these classes to the top level for reuse later */
#hidden {
    display: none;
}

#visible {
    display: block;
}