.ImgPreview {
    width: 30vmin;
}

.SearchCard {
    background-color: aliceblue;
    border: 2px solid black;
    width: max-content;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    /* gap: 1rem; */
    margin: 0 auto;
    border-radius: 10%;

    > div:first-child {
        margin-right: 2rem;
    }
}

.SearchPreview {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LegalityList {
    list-style-type: none;
    text-align: left;
    width: max-content;
    padding-left: 0;

    > li {
        margin: 5px 0;
    }
}

.SearchConfirm {
    grid-column: 1 / end;

    > button:first-of-type {
        background-color: green;
    }
    > button:last-of-type {
        background-color: red;
    }
}

.CardInfo {
    min-width: 15rem;
    max-width: 20rem;

    > p {
        text-align: start;
    }
}

.InfoHeader {
    font-weight: bold;
}

#artSelect {
    margin: 0.25rem 0;
}