.ImgPreview {
    width: 30vmin;
}

.SearchCard {
    background-color: aliceblue;
    border: 2px solid black;
    width: max-content;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    gap: 1rem;
}

.SearchPreview {
    width: max-content;
}